<div class="container alert alert-primary mt-3" role="alert">
    <h4 class="alert-heading">Review</h4>
    <div>Write us of your experience with this booking that took place in {{booking.location}} on {{booking.when | date:'fullDate'}} </div>
    <div>You can also upload a photo of yourself and Susan so we can share it here in our website! <i class="fa fa-smile-o" aria-hidden="true"></i> </div>
    <hr>
    <div class="container mt-3">
      <form>
        <div class="d-flex justify-content-center">
        </div>
      </form>
      <br>
    </div>
  </div>