<div class="container alert alert-primary mt-3" role="alert">
    <h4 class="alert-heading">Review</h4>
    <div>Write us of your experience with this booking that took place in {{booking.location}} on {{booking.when | date:'fullDate'}} </div>
    <div>You can also upload a photo of yourself and Susan so we can share it here in our website! <i class="fa fa-smile-o" aria-hidden="true"></i> </div>
    <hr>
    <div class="container mt-3">
      <form>
        <div class="d-flex justify-content-center">
        </div>
      </form>

      <div class="row">
        <div class="col-md-4">
            <h3>Select file</h3>
            <input type="file" ng2FileSelect [uploader]="uploader"/>
        </div>
 
        <div class="col-md-8" style="margin-bottom: 40px">
 
            <h3>Upload queue</h3>
            <p>Queue length: {{ uploader?.queue?.length }}</p>
 
            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td *ngIf="uploader.options.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-danger btn-xs"
                                (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
 
            <div>
              <div>
                  Queue progress:
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                  </div>
              </div>
              <button type="button" class="btn btn-success btn-s"
                      (click)="uploadSection()" [disabled]="!uploader.getNotUploadedItems().length">
                  <span class="glyphicon glyphicon-upload"></span> Upload all
              </button>
              <button type="button" class="btn btn-warning btn-s"
                      (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                  <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
              </button>
              <button type="button" class="btn btn-danger btn-s"
                      (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                  <span class="glyphicon glyphicon-trash"></span> Remove all
              </button>
            </div>
        </div>
      </div>
      <br>

      <div>
        <rating [max]="5" [(ngModel)]="rating" [customTemplate]="tt"></rating>
        <div class="card">
          <pre class="card-block card-header" style="margin:15px 0;"> <b>(<i>Rate:</i> {{rating}})</b> </pre>
        </div>
        <ng-template #tt let-i="index" let-v="value">
          <button class="btn btn-{{i < v ? 'warning' : 'default'}}">
            {{i < v ? '&#9733;' : '&#9734;'}}
          </button>
        </ng-template>
      </div>

    </div>
  </div>