<div class="container mt-4">
  <div class="row">
    <div class="col-sm-6">
      <div class="card bg-primary text-white">
        <div class="card-body">

          <div class="jumbotron bg-primary">
            <div class="container">
              <h1 class="display-4">{{user.fullName | titlecase}}</h1>
              <p class="lead text-white">Lives in {{user.city}}, {{user.country}}</p>
              <p class="lead text-white">Age of {{user.age}}</p>
              <p class="lead text-white">Contact number {{user.contactNumber}}</p>
              <p class="lead text-white">Last active {{user.lastActive | timeAgo }}</p>
              <p class="lead text-white">Member since {{user.created | date }}</p>
              <p class="lead text-white">{{user.bookings.length}} total number of booking request</p>
              <button class="btn btn-success btn-block">Message</button>
              <button *ngIf="user.id == authDecodeToken" class="btn btn-warning btn-block" [routerLink]="['/bookingrequest']">Make a Booking</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card tab-panel">
        <tabset class="card-body">
          <tab heading="Messages">
            <h6>Messages</h6>
          </tab>
          <tab heading="Bookings">
            <h6>Bookings</h6>
          </tab>
        </tabset>
      </div>
    </div>

    
  </div>
    <!--
        <app-booking-list-for-user [userId]="user.id" [authDecodeToken]="authDecodeToken"></app-booking-list-for-user>
     -->
    <div class="">
      <div class="">
        <app-booking-list-for-user [userId]="user.id" [authDecodeToken]="authDecodeToken"></app-booking-list-for-user>
      </div>
    </div>
</div>