.bg-custom {
    background: linear-gradient(150deg, #285bc9 0%, #2ca4db 40%);
    border-radius: 0.80em;
}

.card-custom {
    background: linear-gradient(140deg, #356ce4 0%, #3b7cdf 40%);
    border-radius: 0.80em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

hr {
    border-color: rgb(60, 119, 207);
}