<h4 class="container alert alert-dark mt-3 font-weight-normal" role="alert">
    <h4 class="alert-heading">Approve or Decline Request</h4>
    <p>You have a booking request from 
      <button [routerLink]="['/members/', booking.userId]" class="btn btn-primary btn-sm">{{user?.fullName}}</button> 
    to review</p>
    <hr>
    Click
    <div class="badge badge-success text-wrap" style="width: 3rem;">
      Save
    </div>
    to save the changes or
    <div class="badge badge-info text-wrap" style="width: 4rem;">
      Cancel
    </div>
    to go back to the Bookings list
  </h4>

  <div class="container">
      <div class="d-flex justify-content-center">
        <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
            <div class="card-header h4 text-capitalize">{{booking.location}}</div>
            <div class="card-body">
              <h4 class="card-title font-weight-light">When: {{booking.when | date}}</h4>
              <p class="card-text">From {{booking.fromTime | date: 'shortTime' }} to {{booking.toTime | date: 'shortTime' }}</p>
              <p class="card-text">Request made by {{user?.fullName}} </p>

              <form class="" [formGroup]="bookingForm" (ngSubmit)="updateBookingStatusRequest()">
                <div class="justify-content-center">
                  <div class="col-12">
                    <hr>
                        <div class="form-group">
                            <label for="inputState">Select:</label>
                            <select id="inputState" formControlName="status" class="form-control">
                              <option selected value="Approved">Approve</option>
                              <option value="Declined">Decline</option>
                            </select>
                        </div>
                      
                        <div class="form-group text-center">
                          <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn btn-success" type="submit" [disabled]="!bookingForm.valid">Save</button>
                            <button class="btn btn-info" type="button" (click)="cancel()">Cancel</button>
                          </div>
                        </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
      </div>
  </div>


  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left text-capitalize">Hi {{this.authDecodeName}}!</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mb-1">
      <div class="font-weight-light">{{this.messageForAdmin}} </div>
      <br>
      <button *ngIf="modalRef" type="button" class="btn btn-danger" (click)="modalRef.hide()">Close</button>
    </div>
  </ng-template>