<div class="card bg-success-custom font-weight-light mt-2 h-95" *ngIf="booking.status=== 'Approved'">
  <div class="">

    <div class="card-header bg-transparent text-white">Status: {{booking.status}}</div>
    <!-- Add Expired Condition here-->

    <div class="card-body">
      
      <!-- If Booking is Accepted-->
      <div class="text-white">
        <h5 class="card-title text-capitalize">{{booking.user.fullName}}</h5>
        <p class="card-text">Location: {{booking.location}}</p>
        <p class="card-text">From {{booking.fromTime | date: 'shortTime' }} to {{booking.toTime | date: 'shortTime' }}</p>
        <p class="card-text">When: {{booking.when | date}}</p>
      </div>

      <button class="btn btn-info btn-block my-2" tooltip="This request has been approved. Click to change its status" [delay]="500" [routerLink]="['/booking/edit/status', booking.id]">View Request</button>
    </div>
    <div class="card-footer bg-transparent"><small>Request received: {{booking.dateAdded | date}}</small></div>
  </div>
</div>

<div class="card bg-danger-custom font-weight-light mt-2 h-95" *ngIf="booking.status=== 'Declined'">
  <div class="">

    <div class="card-header bg-transparent">Status: {{booking.status}}</div>
    <!-- Add Expired Condition here-->

    <div class="card-body">

      <!-- If Booking at a not accepted -->
      <div class="text-white">
        <h5 class="card-title text-capitalize">{{booking.user.fullName}}</h5>
        <p class="card-text">Location: {{booking.location}}</p>
        <p class="card-text">From {{booking.fromTime | date: 'shortTime' }} to {{booking.toTime | date: 'shortTime' }}</p>
        <p class="card-text">When: {{booking.when | date}}</p>
      </div>

      <button class="btn btn-info btn-block my-2" tooltip="This request has been declined. Click to change its status" [delay]="500" [routerLink]="['/booking/edit/status', booking.id]">View Request</button>
    </div>
    <div class="card-footer bg-transparent"><small>Request received: {{booking.dateAdded | date}}</small></div>
  </div>
</div>

<div class="card bg-secondary font-weight-light mt-2 h-95" *ngIf="booking.status=== 'Pending'">
  <div class="">
    <div class="card-header bg-transparent">Status: {{booking.status}}</div>
    <!-- Add Expired Condition here-->

    <div class="card-body">
      <!-- If Booking is at Pending status-->
      <div class="text-white">
        <h5 class="card-title text-capitalize">{{booking.user.fullName}}</h5>
        <p class="card-text">Location: {{booking.location}}</p>
        <p class="card-text">From {{booking.fromTime | date: 'shortTime' }} to {{booking.toTime | date: 'shortTime' }}</p>
        <p class="card-text">Date: {{booking.when | date}}</p>
      </div>

      <button class="btn btn-info btn-block my-2" tooltip="This request needs to be reviewed. Click to update its status" [delay]="500" [routerLink]="['/booking/edit/status', booking.id]">View Request</button>
    </div>
    <div class="card-footer bg-transparent"><small>Request received: {{booking.dateAdded | date}}</small></div>
  </div>
</div>