<div class="container alert alert-primary mt-3" role="alert">
  <h4 class="alert-heading">Booking Query System</h4>
  <p>You have a total of <strong class="text-white bg-dark">{{pagination.totalItems}}</strong> bookings to review.</p>

  <hr>
  <div class="mb-0">Click the
    <div class="badge badge-info text-wrap" style="width: 7rem;">
      View Request
    </div>
    to view the booking request in detail
  </div>

  <div class="d-flex justify-content-center py-3">

      <form class="form-inline" #form="ngForm" (ngSubmit)="loadBookings()" novalidate>
        
        <div class="btn-group mr-2">
          <button type="button" name="eventstoday" class="btn btn-info"
            [(ngModel)]="bookingParams.eventstoday" (click)="loadToday()" btnRadio="eventstoday">Events Today</button>
          <button type="button" name="eventsthismonth" class="btn btn-info"
          [(ngModel)]="bookingParams.eventsthismonth" (click)="loadMonth()" btnRadio="eventsthismonth">Events this Month</button>
          <button type="button" name="eventstoday" class="btn btn-light text-dark"
            [(ngModel)]="bookingParams.eventstoday" (click)="loadAll()" btnRadio="eventstoday">All Events</button>
        </div>

        <div class="form-group mr-2">
          <label for="Status">Status: </label>
          <select name="status" id="status" class="form-control" [(ngModel)]="bookingParams.status" style="width: 130px;">
              <option *ngFor="let status of statusList" [value]="status.value">
                  {{status.display}}
              </option>
          </select>
        </div>

        <div class="btn-group">
          <button type="submit" class="btn btn-danger">Apply Filter</button>
          <button type="button" class="btn btn-dark" (click)="resetFilters()">Reset Filter</button>
        </div>
      </form>
  </div>

  <div class="row">
    <div *ngFor="let booking of bookings" class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
      <app-booking-card [booking]="booking"></app-booking-card>
    </div>
  </div>
  <div class="mb-4"></div>
</div>

<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" 
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>