<div class="container alert alert-primary mt-3" role="alert">
  <h4 class="alert-heading">Bookings to approve or decline</h4>
  <p>You have a total of <strong class="text-white bg-dark">{{pagination.totalItems}}</strong> bookings in the system</p>
  <div><strong class="text-white bg-dark">{{pagination.totalItems}}</strong> pending bookings to be reviewed and</div>
  <div><strong class="text-white bg-dark">{{pagination.totalItems}}</strong> approved bookings to be confirmed</div>
  <hr>
  <div class="mb-0">Click the
    <div class="badge badge-success text-wrap" style="width: 7rem;">
      View Request
    </div>
    to view the booking request in detail
  </div>
  <div class="mb-0 mt-1">Toggle the buttons
    <div class="badge badge-info text-wrap" style="width: 7rem;">
      Last Active
    </div>
    and
    <div class="badge badge-info text-wrap" style="width: 8rem;">
      Newest Member
    </div>
    to sort the users
  </div>
</div>


<div class="container">
  <div class="" *ngFor="let booking of bookings">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{booking.location}}</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"></li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
  
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      
    </div>

  </div>
</div>

<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" 
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>