<div class="row">
    <div *ngFor="let booking of bookings">
      <div class="column">
        <div class="card text-center">
          <div class="card-header">
            Location at {{booking.location}}
          </div>
          <div class="card-body">
            <h5 class="card-title">When: {{booking.when | date}}</h5>
            <p class="card-text">From {{booking.fromTime | date: 'shortTime' }} to {{booking.toTime | date: 'shortTime' }}</p>
            <p class="card-text">Status: {{booking.status}}</p>
            <a href="#" class="btn btn-primary">Edit</a>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
          <div class="card-footer text-muted">
            {{booking.dateAdded | timeAgo}}
          </div>
      </div>
      </div>
  </div>
</div>