<div class="container mt-3">
  <div class="row text-center mt-3">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          Previous
      </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <!--
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month">
          Month
        </div>
        
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week">
          Week
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day">
          Day
        </div>
      </div>
    </div>
    -->
  </div>

  <!-- Editing Point From Here -->

  <div *ngIf="clickedDate" class="alert alert-success text-center">
    <strong >You have clicked on {{ clickedDate | date:'fullDate' }}</strong>

    <strong *ngIf="clickedColumn != null">You clicked on this column: {{ clickedColumn }}</strong>

    <div *ngIf="this.dayEvents.length == 0">
      <span>No bookings here yet. Be the first to book a time slot! </span><i class="fa fa-smile-o fa-2x"></i>
    </div>

    <div *ngFor="let day of dayEvents">
      {{day.start| date:'shortTime'}} - {{day.end| date:'shortTime'}} is already booked
     </div>

     <!-- DO NOT TOUCH
      <div *ngFor="let hours of invalidHours">
       {{hours}}
      </div>
     -->


    <form class="container mt-3" #registerBooking [formGroup]="bookingForm" (ngSubmit)="registerBooking()">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="m-1"></div>

          <div class="form-group">
            <!-- 
              <input type="text"
              [ngClass]="{'is-invalid': bookingForm.get('when').errors && bookingForm.get('when').touched
                || bookingForm.get('when').touched && bookingForm.hasError('errordate')}" 
              class="form-control" formControlName="when" placeholder="Date">
            -->

            <div class="form-group">
              <input type="text" [ngClass]="{'is-invalid': bookingForm.get('location').errors && bookingForm.get('location').touched}"
              class="form-control" formControlName="location" placeholder="Location">
              <div class="invalid-feedback">Location is required</div>
            </div>

            <div class="form-group">
              <div title="From">From</div>
              <timepicker [ngClass]="{'is-invalid': bookingForm.get('fromTime').errors && bookingForm.get('fromTime').touched}"
              formControlName="fromTime"></timepicker>
              <div class="alert alert-danger text-center" 
               *ngIf="bookingForm.get('fromTime').value == null">
                <small>Start time is required</small>
              </div>
            </div>

            <div class="form-group">
              <div title="To">To</div>
              <timepicker [ngClass]="{'is-invalid': bookingForm.get('toTime').errors && bookingForm.get('toTime').touched}"
                formControlName="toTime"></timepicker>
                <div class="alert alert-danger text-center" 
                *ngIf="bookingForm.get('toTime').value == null">
                  <small>End time is required</small>
                </div>
            </div>


            <div class="form-group text-center">
              <div class="btn-group" role="group">          
                <button class="btn btn-success" type="submit">Submit</button>
                <button class="btn btn-info" type="button" (click)="cancel()">Cancel</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </form>

  </div>

  <div *ngIf="clickMessage" class="alert alert-danger text-center">
    <strong> {{ clickMessage }}</strong>
    <div *ngFor="let day of this.dayEvents">
     {{day.start| date:'shortTime'}} - {{day.end| date:'shortTime'}} is already booked
    </div>
  </div>

  <ng-template #customCellTemplate let-day="day" let-locale="locale">
    <!-- Fully Booked Days -->
    <div class="cal-cell-top" (click)="notValidClick(day)" *ngIf="day.badgeTotal >= 3 && day.date > todaysDate" style="background-color: lightskyblue;">
      <div>
        <span class="cal-day-number text-light">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
        <!-- 
        <span class="">{{day.events.length}}</span>
        <div *ngFor="let event of day.events">
          Where: {{ event.title }}
          Start: {{ event.start | date:'shortTime'}}
          End: {{ event.end | date:'shortTime' }}
        </div>
        -->
      </div>
    </div>
    <small class="text-light text-center" style="background-color: lightskyblue;" *ngIf="day.badgeTotal >= 3 && day.date > todaysDate">FULLY BOOKED</small>

    <!-- Still Available Days -->
    <div class="cal-cell-top" (click)="validClick(day)" *ngIf="day.badgeTotal < 3 && day.date > todaysDate"> 
      <div>
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
      </div>
    </div>

    <!-- Expired -->
    <div class="cal-cell-top" (click)="expiredCell(day)" *ngIf="day.date < todaysDate" style="background-color: lightgray;"> 
        <span class="cal-day-number text-light">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
      </div>
    <small class="text-light text-center" style="background-color: lightgray;"  *ngIf="day.date < todaysDate">Expired</small>

  </ng-template>


  <!-- Editing Stop Point Here -->

  <ng-template #customEventTemplate let-column="column">

  </ng-template>
  
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      (columnHeaderClicked)="clickedColumn = $event.isoDayNumber"
      [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>

    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="events"
      (dayHeaderClicked)="clickedDate = $event.day.date"
      (hourSegmentClicked)="clickedDate = $event.date">
    </mwl-calendar-week-view>

    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      [events]="events"
      (hourSegmentClicked)="clickedDate = $event.date">
    </mwl-calendar-day-view>
  </div>
</div>