<div class="container alert bg-signature mt-3" *appHasRole="['Admin']">
  <h4 class="alert-heading">Review System</h4>
  <div>You can view the reviews and <strong>approve</strong> them using this page.</div>
  <div> <strong class="bg-secondary">NOTE</strong> Only <strong>approved</strong> reviews are shown in the website.</div>
  <hr>

  <div class="container mt-3">
    <div class="row">
      <div *ngFor="let review of reviews" class="col-xl-4 col-lg-6 col-md-8 col-sm-12">
        <app-review-card [review]="review"></app-review-card>
      </div>
    </div>
  </div>

</div>