<div class="container alert alert-primary mt-3" role="alert">
  <h4 class="alert-heading">Hi {{ this.name | titlecase}}!</h4> 
  <div>Use this page to manage all your booking request</div>
  <hr>

  <div class="d-flex justify-content-between">
    <div class="btn-group">
      <button type="button" name="eventstoday" class="btn btn-info"
        [(ngModel)]="bookingParams.eventstoday" (click)="loadToday()" btnRadio="eventstoday">Events Today</button>
  
      <button type="button" name="eventsthismonth" class="btn btn-info"
      [(ngModel)]="bookingParams.eventsthismonth" (click)="loadMonth()" btnRadio="eventsthismonth">Events this Month</button>
  
      <button type="button" name="eventsall" class="btn btn-info"
        (click)="loadAll()">All Events</button>
    </div>

    <div class="btn-group float-right my-1">
      <button type="button" name="orderBy" class="btn btn-info" 
        [(ngModel)]="bookingParams.orderBy" (click)="loadOrderBy()" btnRadio="dateadded">Newest Request</button>
      <button type="button" name="orderBy" class="btn btn-info"
        [(ngModel)]="bookingParams.orderBy" (click)="loadOrderBy()" btnRadio="when">By Event Date</button>
    </div>
  </div>

  <div *ngIf="bookingParams.eventstoday == true && bookings.length">
    <h2 class="d-flex justify-content-center font-weight-light">Events Today</h2>
    <div *ngIf="bookings.length > 1" class="d-flex justify-content-center small mt-n2">{{bookings.length}} events found</div>
    <div *ngIf="bookings.length == 1" class="d-flex justify-content-center small mt-n2">{{bookings.length}} event found</div>
  </div>
  <div *ngIf="bookingParams.eventsthismonth == true && bookings.length">
    <h2 class="d-flex justify-content-center font-weight-light">Events this month</h2>
    <div *ngIf="bookings.length > 1" class="d-flex justify-content-center small mt-n2">{{bookings.length}} events found</div>
    <div *ngIf="bookings.length == 1" class="d-flex justify-content-center small mt-n2">{{bookings.length}} event found</div>
  </div>
  <div *ngIf="bookingParams.all == true && bookings.length">
    <h2 class="d-flex justify-content-center font-weight-light">All Events</h2>
    <div *ngIf="bookings.length > 1" class="d-flex justify-content-center small mt-n2">{{bookings.length}} events found</div>
    <div *ngIf="bookings.length == 1" class="d-flex justify-content-center small mt-n2">{{bookings.length}} event found</div>
  </div>

  <div class="d-flex justify-content-center" *ngIf="bookings.length== 0">
    <h3>No results found</h3>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let booking of bookings">
      <div class="card border-dark text-dark font-weight-light mt-2 h-95">
        <div>
          <div class="card-header border-dark">  
            <div class="text-muted d-flex justify-content-between">Status </div>
            <div class="d-flex justify-content-between">
              <div *ngIf="booking.status == 'Approved'" class="text-success">{{booking.status}}</div>
              <div *ngIf="booking.status == 'Declined'" class="text-danger">{{booking.status}}</div>
              <div *ngIf="booking.status == 'Pending'" class="text-info">{{booking.status}}</div>
              <span class="badge badge-pill badge-info font-italic" *ngIf="booking.isEdited">Edited</span>
            </div>
          </div>
          <div class="card-body">
            <div class="text-dark">
              <h5 class="card-title text-capitalize">{{booking.location}}</h5>
              <div class="card-text font-weight-lighter"> When: {{booking.when | date}} </div>
              <div class="card-text font-weight-lighter">From {{booking.fromTime | date: 'shortTime' }} to {{booking.toTime | date: 'shortTime' }}</div>
            </div>
  
            <div class="btn-group btn-block btn-group-sm" *ngIf="userId == authDecodeToken">
              <button *ngIf="booking.status == 'Pending'" type="button" [routerLink]="['/booking/edit/', booking.id]" class="btn btn-primary">Edit</button>
              <button *ngIf="booking.status == 'Pending' || booking.status =='Declined'" type="button" class="btn btn-danger"  (click)="openModal(template)">Delete</button>
              <ng-template #template>
                <div class="modal-body text-center">
                  <p>Do you want to delete this request?</p>
                  <button type="button" class="btn btn-default" (click)="confirm(booking.id)" >Yes</button>
                  <button type="button" class="btn btn-primary" (click)="decline(booking.id)" >No</button>
                </div>
              </ng-template>   
            </div>
  
          </div>
          <div class="card-footer border-dark bg-white">
            <div><small class="font-weight-lighter">Submitted on <span class="badge badge-dark">{{booking.dateAdded | date: 'fullDate'}}</span></small></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" 
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>

