<form class="container mt-4" [formGroup]= "bookingForm" (ngSubmit)="registerBooking()">

  <div class="form-group">
    <input type="text" class="form-control" formControlName="when" placeholder="When">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" formControlName="location" placeholder="Where">
  </div>

  <div title="From">From</div>
  <timepicker formControlName="fromTime"></timepicker>

  <div title="To">To</div>
  <timepicker formControlName="toTime"></timepicker>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Book</button>
    <button class="btn btn-default" type="button" (click)="cancel()"></button>
  </div>

</form>